<!-- START BLOCK EVENT FOLDER -->
{% include 'OpenWidePublishAgendaBundle:calendar:page_styles.html.twig' %}
{% include 'OpenWidePublishAgendaBundle:calendar:page_scripts.html.twig' %}
<div class="fullcalendar-calendar-mini fullcalendar-calendar-folder"  data-event-url="{{ path('open_wide_publish_agenda_event_list_json' )}}" data-event-source="{{ agendaLocationIdList|join(',') }}"></div>
{% include 'OpenWidePublishAgendaBundle:calendar:extra_area.html.twig' %}
<!-- END BLOCK EVENT FOLDER -->
